<div class="container">
  <div class="row">
    <div class="col col-xs-auto text-center">
      <h1><%= current_character.name %></h1>
      <p>Race: <%= current_character.race %></p>
      <p>XP: <%= current_character.xp %></p>
      <p>Description: <%= current_character.description %></p>
    </div>
  </div>
</div>
