<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert <%= flash_class(type.to_s) %> alert-dismissible fade show" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
       <span><%= message %></span>
    </div>
  <% end %>
</div>
